<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet" type="text/css">

  </head>

  <body>

        <h3>Name: <%= user.name %> </h3>
        <h3>UserName: <%= user.userName %> </h3>

        <form action="/users/<%=user.id%>?_method=DELETE" method = "POST">
          <input type="submit" class="btn btn-success" value="Delete">
         </form>

  </body>
</html>
